// Variables

$primary: #42DCA3;
//#B74EA0
$color-principal: #B74EA0;
$color-secundario: darken(#B74EA0, 30%);

$font-stack: "Helvetica Neue",Helvetica,Arial,sans-serif;

$imagen-background: "../img/fondo_1900_x.png";
$imagen-fondo-intro: "../img/intro-bg.jpg";
$imagen-fondo-algo: "../img/downloads-bg.jpg";
